<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 引入接口，只要实现接口的方法就会调用对应接口方法的 select id -->
<mapper namespace="com.szyciov.driver.mapper.OrderSurchargeMapper">
	<!-- All Select -->
	
	<select id="getOrgOrderSurcharge" parameterType="String" resultType="OrgOrderSurcharge">
	#查询机构网约车订单附加费明细
	SELECT * FROM org_ordersurcharge oos WHERE oos.`status` = 1 AND oos.orderno = #{orderno}
	</select>
	
	<select id="getOpOrderSurcharge" parameterType="String" resultType="OpOrderSurcharge">
	#查询运管网约车订单附加费明细
	SELECT * FROM op_ordersurcharge oos WHERE oos.`status` = 1 AND oos.orderno = #{orderno}
	</select>
	
	<select id="getOpTaxiOrderSurcharge" parameterType="String" resultType="OpTaxiOrderSurcharge">
	#查询运管出租车订单附加费明细
	SELECT * FROM op_taxiordersurcharge oos WHERE oos.`status` = 1 AND oos.orderno = #{orderno}
	</select>
	
	<select id="getOpDriverPayManagement" parameterType="String" resultType="OpDriverpaymanagement">
	#查询运管司机垫付记录
	SELECT * FROM op_driverpaymanagement odp WHERE odp.`status` = 1 AND odp.orderno = #{orderno}
	</select>
	
	<select id="getLeDriverPayManagement" parameterType="String" resultType="LeDriverpaymanagement">
	#查询租赁司机垫付记录
	SELECT * FROM le_driverpaymanagement ldp WHERE ldp.`status` = 1 AND ldp.orderno = #{orderno}
	</select>
	
	<!-- All Update -->

	
	<!-- All Insert -->
	<insert id="saveOrgOrderSurcharge" parameterType="OrgOrderSurcharge" >
	#保存机构订单附加费明细
	INSERT INTO org_ordersurcharge(
		id,orderno,payexpressway,paytoll,payparking,payother,
		shouldexpressway,shouldtoll,shouldparking,shouldother,createtime,updatetime,
		status
	) VALUES(
		#{id},#{orderno},#{payexpressway},#{paytoll},#{payparking},#{payother},
		#{shouldexpressway},#{shouldtoll},#{shouldparking},#{shouldother},NOW(),NOW(),
		#{status}
	) ON DUPLICATE KEY UPDATE
		payexpressway = #{payexpressway},
		paytoll = #{paytoll},
		payparking = #{payparking},
		payother = #{payother},
		shouldexpressway = #{shouldexpressway},
		shouldtoll = #{shouldtoll},
		shouldparking = #{shouldparking},
		shouldother = #{shouldother},
		updatetime = NOW()
	</insert>
	<insert id="saveOpOrderSurcharge" parameterType="OpOrderSurcharge" >
	#保存个人订单附加费明细
	INSERT INTO op_ordersurcharge(
		id,orderno,payexpressway,paytoll,payparking,payother,
		shouldexpressway,shouldtoll,shouldparking,shouldother,createtime,updatetime,
		status
	) VALUES(
		#{id},#{orderno},#{payexpressway},#{paytoll},#{payparking},#{payother},
		#{shouldexpressway},#{shouldtoll},#{shouldparking},#{shouldother},NOW(),NOW(),
		#{status}
	) ON DUPLICATE KEY UPDATE
		payexpressway = #{payexpressway},
		paytoll = #{paytoll},
		payparking = #{payparking},
		payother = #{payother},
		shouldexpressway = #{shouldexpressway},
		shouldtoll = #{shouldtoll},
		shouldparking = #{shouldparking},
		shouldother = #{shouldother},
		updatetime = NOW()
	</insert>
	<insert id="saveOpTaxiOrderSurcharge" parameterType="OpTaxiOrderSurcharge" >
	#保存运管出租车订单附加费明细
	INSERT INTO op_taxiordersurcharge(
		id,orderno,payexpressway,paytoll,payparking,payother,
		shouldexpressway,shouldtoll,shouldparking,shouldother,createtime,updatetime,
		status
	) VALUES(
		#{id},#{orderno},#{payexpressway},#{paytoll},#{payparking},#{payother},
		#{shouldexpressway},#{shouldtoll},#{shouldparking},#{shouldother},NOW(),NOW(),
		#{status}
	) ON DUPLICATE KEY UPDATE
		payexpressway = #{payexpressway},
		paytoll = #{paytoll},
		payparking = #{payparking},
		payother = #{payother},
		shouldexpressway = #{shouldexpressway},
		shouldtoll = #{shouldtoll},
		shouldparking = #{shouldparking},
		shouldother = #{shouldother},
		updatetime = NOW()
	</insert>
	<insert id="saveOpDriverPayManagement" parameterType="OpDriverpaymanagement" >
	#保存运管司机垫付记录
	INSERT INTO op_driverpaymanagement(
		id,orderno,ordertype,usetype,paybackremark,paybackstate,
		createtime,updatetime,creater,updater,status
	) VALUES(
		#{id},#{orderno},#{ordertype},#{usetype},#{paybackremark},#{paybackstate},
		NOW(),NOW(),#{creater},#{updater},#{status}
	) ON DUPLICATE KEY UPDATE
		paybackremark = #{paybackremark},
		paybackstate = #{paybackstate},
		updatetime = NOW()
	</insert>
	<insert id="saveLeDriverPayManagement" parameterType="LeDriverpaymanagement" >
	#保存租赁司机垫付记录
	INSERT INTO le_driverpaymanagement(
		id,orderno,ordertype,usetype,paybackremark,lecompanyid,paybackstate,
		createtime,updatetime,creater,updater,status
	) VALUES(
		#{id},#{orderno},#{ordertype},#{usetype},#{paybackremark},#{lecompanyid},#{paybackstate},
		NOW(),NOW(),#{creater},#{updater},#{status}
	) ON DUPLICATE KEY UPDATE
		paybackremark = #{paybackremark},
		lecompanyid = #{lecompanyid},
		paybackstate = #{paybackstate},
		updatetime = NOW()
	</insert>
	
</mapper>